# Ignore all devops-build files
/devops-build
/.Xauthority
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.lesshst
/.config
/.local
/.m2
/.profile
/.ssh
/.sudo_as_admin_successful
/.viminfo
/apache2-app

